

{% extends 'base2.html' %}


   {% block body %}
        <br>
 
 
  <main class="page-wrapper">
   <p>Hi {{ user.username }}!</p>
     <div class="line-sep"></div>
		<div class="intro mb-8"><span>Lipia kupata kitabu chako</span></div>
              <hr>
                
			<div class="page-conten container mt-50">                          
				<div class="row">
					<div class="col-md-8">
                                          
						<!--<div class="mb-8"><p class="auth-title"><span> List ya vitabu vilivyolipiwa itaonekana hapa</span></p></div>-->
                                         
                                                   {% for post in posts%}                  
                                                      {%if post.user in friends%}
                                                                 <hr>   
                                                                 
                                                                     
                                                                  <h3>Read <a href="{{post.post}}">Hasira</a></h3>
                                                                 
                                                                 <br>
                                                                 <h3>Cover</h3>
                                                                  {% if post.image%}
                                                                 <img src='{{post.image.url}}' class= 'img-responsive'/>
                                                                 {%endif%}
                                                                 
                                                                 {%endif%}
                                                                 
                                                              {%endfor%}
                                        </div>
				 </div>
			   </div>

	</main>
        
        
        

   {% endblock %}
