

{% extends 'base2.html' %}


   {% block body %}
        <br>
 
 
  <main class="page-wrapper">
   <p>Hi {{ user.username }}!</p>
     <div class="line-sep"></div>
		<div class="intro mb-8"><span>Lipia kupata kitabu chako</span></div>
              <hr><hr>
                
			<div class="page-conten container mt-50">                          
				<div class="row">
					<div class="col-md-8">
                                          
						
                                                   {% for post in posts%}                  
                                                      {%if post.user in friends%}
                                                                   
                                                                 <h2>Books</<h2>
                                                                     
                                                                  <p>Read <a href="{{post.post}}">Mbinu ya kudhubiti Hasira</a></p>
                                                                 
                                                                 <br>
                                                                 <h3>Cover</h3>
                                                                  <img src="{%static 'img/hasira.jpg'%}" alt=""'>	
                                                                 
                                                                 
                                                                 
                                                                 
                                                                 {%endif%}
                                                                 
                                                              {%endfor%}
                                                              
                                                              
                                        </div>
                                       <div class="col-md-3"> 
                                        <h3>JENGA HIMAYA</h3>
                                      
                                       <h3><a href="{{user.userprofile.phone}}">My Back office </a></h3>
                                       </div>          
				 </div>
			   </div>

	</main>
        
        
        

   {% endblock %}
