
{% extends 'base.html' %}




   {% block body %}
       
   
        <div class='col-sm-6 col-sm-offset-3'>

            {% for obj in object_list %}
                <h2>{{obj.title}}</h2>
                <a href="{% url 'home:detail' id=obj.id %}"> {{obj.title}}</a>
                {% if obj.image%} 
                    <img src='{{obj.image.url}}' class= 'img-responsive'/>
                {%endif%}
            {%endfor%}
            
            
               <br>
            <br>  
        </div>
      
   {% endblock %}