<!DOCTYPE html>
<html lang="en">
    
{% extends 'base3.html' %}
{% load staticfiles %}

{%block head%}
     
    
    
    {%endblock%}



 {% block body %}

	<main class="main-wrapper">
		
		
		





	<div class="main-section">
		<div class="container">
			<div id="test" onmousedown='return false;' onselectstart='return false;'>

<a href="{% url 'home:index'%}">Items</a>
<a href="{% url 'accounts:logout'%}">Home</a>
				<h1 class="topic-title">HASIRA</h1>

	

			
				
                         
                            <hr>
                            <p><span>ISBN 978-9976- 5-1612-8</span>
<P>Kazi hii inalindwa na sheria ya  umiliki ya Jamuhuri ya Muungano wa Tanzania. Haki zote zimehifadhiwa, hairuhusiwi kuiga, kunakili au kutoa kopi
ya kitabu hiki kwa njia yeyote ile bila ya idhini ya mwandishi.</P>
<P>Yaliyomo kwenye kitabu hiki yanaweza kubadilika wakati wowote bila taarifa.</P>
<P>Unaweza kupata kopi ya kitabu hiki kwa kupiga simu nambari +255653397942 au kupitia e mail ifuatayo;  obmsuya@yahoo.com.</P>

<P>Kitabu Kimeandikwa na <span>Overblessing Msuya. </P>
<P>Cover ya kitabu imetengenezwa na: <span>Overblessing Msuya.</span></P>
<P>Kimehaririwa na: 	<span>Grace Msuya na Youngsaviour Msuya</span></P>
<P>Kimepigwa chapa na: <span>Zanur General Enteprises.</span></P>

				
				<hr><hr> 
	        
                     <h3><a name="yaliyomo">YALIYOMO</a></h3>

						
						<div class="line-sep"></div>
						<div>

						<p><a href="#ufupi">KITABU KWA UFUPI</a></p>
						<P><a href="#shukran">SHUKURANI</a>	</P>
						<P><a href="#utangulizi">UTANGULIZI	</a></P>
						<P><a href="#madhara">MADHARA YA HASIRA</a></P>	
						<P><a href="#sayahasira">SAYANSI YA  HASIRA	</a></P>
						<P><a href="#sayamsukumo">SAYANSI YA MSUKUMO WA DAMU</a></P>
						<P><a href="#ugonjwa">UGONJWA WA SHINIKIZO LA DAMU</a>	</P>
						<P><a href="#vyanzo">VYANZO VYA  HASIRA ZA KILA SIKU</a></P>
						<P><a href="#mapenzi">HASIRA KWENYE MAPENZI</a></P>
						<P><a href="#ujasiriamali">HASIRA KWENYE UJASIRIAMALI</a></P>
						<P><a href="#namna">NAMNA YA KUPUNGUZA HASIRA.</a></a></P>	
						<P><a href="#hitimisho">HITIMISHO</a>	</P>


<hr><hr> 
				 
<
				 <h3><a name="ufupi"></a></h3>

				 <h3>KITABU KWA UFUPI.</h3>
				 <div class="line-sep"></div>
				 
				<p>Tafiti nyingi zinaonyesha kwamba hasira ni chanzo kikubwa cha mateso katika maisha yetu. Hasira zina madhara
				 makubwa katika afya na kwenye mahusiano yetu, majumbani, makazini, na hata mitaani.</p> 
				<p>Kama umeshawahi kujiuliza kwanini mambo hayaendi sawa, jichunguze kwenye swala la hasira. Kama una tabia ya kukasirika, kugomba au kuzira
				kila wakati basi jua hilo ndio tatizo lako kubwa.</p>
				<p>Kitabu hiki kitakufunza namna ya kuondokana na tatizo la hasira ili kuimarisha mahusiano yako.</p>
				<p>Je, unafahamu kwamba hasira ni chanzo kikubwa cha magonjwa na vifo? Hasira ina ua bila wewe kujijua, hasira inadhorotesha viungo vya mwili
				na hatimaye kukuua.</p>
				<p>Kwenye kitabu hiki, pia utajifunza madhara ya hasira kwenye mwili wako na namna ya kuondokana na tatizo la hasira.</p>
	<hr>
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
	<hr>
<h3><a name="shukran"></a></h3>
			<h3>SHUKRANI</h3>
			<div class="line-sep"></div>
			
			<p>Napenda kupeleka shukrani zangu za dhati kwa mke wangu mpendwa kwa ushauri wake na upendo alionionyesha kipindi
			chote cha utayarishaji wa kitabu hiki.</p>
			<p>Napenda kutoa shukrani zangu za dhati kwa watoto wangu Brayden pamoja na
			Whitney kwa kuniacha ili niandike bila kunisumbua.</p>
			<p>Kitabu hiki kisingeweza kufika hapa bila msaada wa ndugu na jamaa zangu pamoja na makampuni mbali mbali kwa
			kutoa misaada yao ya hali na mali katika kufanikisha safari hii.</p>
			<p>Kipekee ningependa kuwashukuru
			OBG Company Limited kwa misaada yao ya kifedha kwa kipindi chote cha uandaaji, uchapishaji pamoja na usambazaji wa kitabu hiki.</p>

                   		<hr>
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
                   		<hr>

			<h3><a name="utangulizi"></a></h3>
			<h3>UTANGULIZI</h3>
			<div class="line-sep"></div>
			
			<p>Hasira ni chanzo kikubwa cha magonjwa, vifo na maamuzi mabaya. Wahenga waliyajua haya wakatuasa kwa kusema "hasira hasara".
			Kwahiyo ni jukumu letu kutafuta namna ya kudhibiti hasira ili kupunguza madhara. </p>
			<p>Huwezi kudhibiti hasira kama hujui maana yake,  inapo anzia na inapo ishia. Kwa kutambua hilo tumefanya tafiti mbali mbali kuhusu madhara
			ya hasira na mbinu za kuondokana na hasira.</p>
			<p>Kijitabu hiki kidogo kinajikita kwenye namna ya kupunguza hasira. Kitakuonyesha mbinu na hatua
			za kuchukua pale unapokuwa na hasira, hatua zitakazopunguza makali ya hasira na hivyo kukunusuru dhidi ya magonjwa na maamuzi mabaya. </p>
<hr>
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>

<h3><a name="madhara"></a></h3>
			<h3>MADHARA YA HASIRA</h3>
			<div class="line-sep"></div>
			
			<p>Vipo vyanzo vingi sana vya hasira katika maisha yetu ya kila siku, kuanzia makazini, majumbani, mitaani hadi makanisani na misikitini.  Maudhi ni mazalio makubwa sana ya hasira kwani yanaingilia starehe zetu na kukwamisha  juhudi za maendeleo. Kumbuka, kitu chochote ambacho matokeo yake ni majuto ni mipango ya shetani. Hasira ina kila viashiria kwamba inatoka kwa shetani kwani baada ya hasira kinachofuata ni majuto.

<p>Hasira ina madhara mawili makubwa; moja ni kwenye maamuzi  na pili ni kwenye mfumo mzima wa mwili.. Kwa vijana wenye nguvu wasio na magonjwa ya shinikizo la damu, hasira ina kuua taratibu kwa kuharibu mishipa ya damu na viungo vingine vya mwili. Kwa watu wenye ugonjwa wa "shinikizo la damu" hasira inaweza ikakuua fumba fumbua.  </p>
<p>Maamuzi unayoyatoa wakati wa hasira yanaweza kuwa na madhara makubwa sana kwani msukumo wa damu unaosababishwa na hasira unafanya uwezo wako wa kufikiri kuwa mdogo. </p>
<p>Tukiwa tunatambua kwamba sio vizuri kufanya maamuzi wakati tuna hasira, huu ndio wakati muafaka wa kujifunza namna ya kudhibiti hasira. Kabla hatujaangalia namna ya kudhibiti hasira, twende kwenye sura inayofuata tujifunze sayansi ya hasira.</p>
<hr>
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>

<h3><a name="sayahasira"></a></h3>
<h3>SAYANSI YA  HASIRA</h3>
<div class="line-sep"></div>
			
<p>Hasira inakuja bila kupanga, inakuja panapo tokea mazingira tusiyokubaliani nayo. Hasira ina anzia akilini ndipo madhara yake yanasambaa mwilini. Kwenye ubongo kuna eneo dogo linaloitwa kwa jina la kitaalam Amygdala. Hili eneo kazi yake ni kushughulikia mambo yote yanayohusiana na hisia (emotions). </p>
<p>Hasira ina tabia kubwa tatu; kuja, kukaa na kuondoka. Kupata hasira ni hatua ya kwanza, ambayo ukubwa wake unategemeana na aina ya tukio na uwezo wa kukabili. Baada ya hapo hasira inaingia katika hatua ya pili ambayo ni ya kukaa. Katika hatua hii hasira inabadilika ukubwa (inapungua au inaongezeka kwanza halafu inapungua), hatua ya tatu ni kuondoka au kuisha. Kiwango cha hasira kinachoingia , muda wa kukaa na kupungua kinatokana na mtu mwenyewe.</p>
<p>Tatizo hata liwe kubwa vipi, kama halichochewi,  linapungua kadri muda unavyo zidi kwenda, kwa maana hiyo ni kwamba dawa kubwa ya hasira ni muda.
<p>Hasira inakujia kutokana na vitu vinne; kusikia, kuona, kunusa au kuhisi. Kwa mfano, ukimuona mtu anampiga mtoto wako unapata hasira, ukitukanwa unakasirika, ukinusa harufu mbaya unaweza kukasirika vile vile ukihisi maumivu unaweza kukasirika.</p> 
<p>Sasa tuangalie sayansi ya msukumo wa damu, mahusiano yaliyopo kati ya hasira na msukumo wa damu.</p>
<hr>
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>

<h3><a name="sayamsukumo"></a></h3>
<h3>SAYANSI YA MSUKUMO WA DAMU</h3>
<div class="line-sep"></div>
			
<p>Unapopata jambo baya akili inaanza kuhangaika huku na kule ili kupata majibu ya tatizo. Eneo maalum kwa ajili ya hisia lililopo kwenye ubongo linawasiliana na mwili kwa kutoa kemikali (homoni) mbili ziitwazo adrenaline na noradrenaline. Kazi ya hizi homoni ni kutoa nguvu, kuongeza msukumo wa damu, mapigo ya moyo na spidi ya kupumua. Moyo unapodunda kwa nguvu  unapelekea msukumo wa damu kuwa mkubwa katika mishipa yako ya damu. </p>
<p>Unapoendelea kuwa na hasira ndivyo kemikali zinavyozidi kuzalishwa na ndivyo Msukumo unavyozidi kuwa mkubwa. Kemikali inaongezeka kuwa nyingi kulingana na muda ambao unaendelea kuwa na hasira. </p>
<p>Msukumo mkubwa wa damu katika mfumo wa mwili wako unaleta madhara katika mishipa  ya damu na viungo vingine mbali mbali vya mwili wako. Wakati huo huo, akili inakosa uwezo wa kupambanua mema na mabaya hivyo huja na majibu/ maamuzi ambayo mara nyingi yana madhara makubwa.</p>

<hr>
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>
<h3><a name="ugonjwa"></a></h3>
<h3>UGONJWA WA SHINIKIZO LA DAMU</h3>
<div class="line-sep"></div>

<p>Moyo unapo dunda, unasukuma damu kuzunguka mwili kupeleka nguvu pamoja na hewa ya oxigeni inayohitajika mwilini. Damu inavyosukumwa inapita katika mirija ya damu, kama vile maji yanavyopita kwenye bomba.</p> 
<p>Msukumo wa damu unapokuwa mkubwa unasababisha mishipa ya damu kukaza ili kumudu presha, mishipa inavyokaza kila wakati matokeo yake inagangamala (inakaza kila wakati). Pamoja na kuwa zipo sababu nyingine nyingi zinazosababisha ugonjwa wa presha kama vile uvutaji wa sigara, ukosefu wa mazoezi, ulaji wa chumvi nyingi nakadhalika, hasira ni moja ya sababu kubwa inayosababisha ugonjwa wa presha, kwani unafanya msukumo wa damu kuwa mkubwa kila wakati.</p>

<p>Nguvu inayotumika kusukuma damu ndio kiashiria cha ugonjwa wa shinikizo la damu. Kama msukumo ni mkubwa kupitiliza maana yake ni kwamba mtu huyo anakuwa na tatizo la shinikizo la damu. </p>

<p>Hapo chini ni simulizi kidogo siku na namna nilivyopata ugonjwa wa presha, uliopelekea kujifunza mambo mengi muhimu kuhusu madhara ya hasira katika afya ya binaadamu. Ugonjwa huu umenifunulia kitu muhimu sana ambacho nimeona ni share na wewe ili ikusaidie. 
"Mara ya kwanza kabisa kuhisi nina ugonjwa wa presha ilikuwa mwaka 2016, na hivi ndivyo ilivyokuwa; </p>

<p>Ofisi niliyokuwa nafanya kazi palikuwepo na utaratibu wa kulipwa pesa ya ziada (posho), pale mnapofanya kazi ya ziada. 
Ilikuwa siku ya ijumaa mimi na wafanyakazi wenzangu tulipewa kazi ya ziada. Siku ya malipo majina yalitoka lakini jina langu halipo kwenye orodha ya kulipwa posho. Hili jambo lili nitatiza sana ukizingatia kwamba nilishiriki kikamilifu kuifanya hiyo kazi. </p>
<p>Nilipoona jina langu halipo nilienda moja kwa moja kwenye ofisi ya mkuu wangu wa kazi na kumuuliza kwanini jina langu halipo. Mkuu huyu alinijibu kwa dharau sana huku akiendelea kufanya kazi zake kwenye computer iliyopo mbele yake. Hilo jambo liliniudhi sana, nilitamani kuichukua ile kompyuta na kuipasua pasua lakini nikakumbuka watoto wangu nyumbani. </p>
<p>Nikaondoka kwa hasira mpaka kwenye ofisi yangu, mfanyakazi mwenzangu aliponiona akajua tu kuna tatizo kwani nilikuwa nimekasirika, macho yote yalikuwa mekundu kama mtu aliyelia kwa muda mrefu, mishipa ya usoni imenitoka huku nahema kwa nguvu. Nikiwa na hasira huyu jamaa yangu akachukulia poa akaamua kunitania kama ilivyo kawaida yetu, tusi lililonitoka mdomoni mpaka tv ikanyamaza kwa dakika...</p>
<p>Wakati bado natafakari huku hasira zimenijaa, kitu kikaniambia nisikubali, basi nikatoka tena na kuelekea ofisini kwa yule bosi wangu. Nilipoingia mle nikawakuta baadhi ya wafanyakazi wenzangu wapo pale. Kwasababu nilikuwa na hasira sana sikusubiri muda wangu wa kuongea, nilimtaka tena aniambie kwanini jina langu halipo kwenye watu wa posho. 
Jibu alilonipa likapandisha hasira yangu zaidi, aliniambia "toka ofisini kwangu wewe fala". Sijui nini kilitokea mwilini kwangu nilijikuta nanyanyua kikombe chake cha chai na kukibamiza chini. Kikombe kilipasuka vipande vipande kila mtu akabaki ameduwaa. </p>
<p>Nilitoka mle ofisini nikijua ndio mwisho wa kazi, nikiwa natembea kuelekea nje mara nikaanza kujisikia vibaya, kizunguzungu sio kizunguzungu, kama vile nataka kuzimia, moyo unadunda kwa kasi zaidi huku miguu inaisha nguvu. Ikabidi nitoke pale na kuelekea kantini, nikanunua maji na kuanza kunywa."</p>
<p>Kuanzia siku hiyo ugonjwa wa presha ukawa ni sehemu ya maisha yangu. Wazee waliposema hasira hasara hawakukosea kwani hasira ina madhara makubwa sana. Hasira haileti hasara ofisini tu bali hata kwenye biashara, familia yako na hata kwenye Afya na umri wako wa kuishi. </p>
<p>Uzoefu huu umenifunza mengi; nimejifunza kwamba, kumbe hasira ni swala la muda tu, inakuja na kuondoka, ukiweza kuvumilia kidogo utashangaa hasira inapotea. </p>
<p>Nimejifunza pia kwamba; kama hasira utakayo kuwa nayo kesho ni ndogo kuliko hasira uliyonayo leo kwanini usubiri mpaka kesho ndio ipungue, kwanini usilazimishe kupunguza hasira leo? </p>
<p>Nimejifunza; ni muhimu sana kufanya maamuzi wakati hauna hasira kwani wakati huo akili inakuwa na uwezo wa kupambanua vizuri zaidi.</p>

<hr>
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>
<h3><a name="vyanzo"></a></h3>	
<h3>VYANZO VYA  HASIRA ZA KILA SIKU</h3>

<div class="line-sep"></div>


<p><span>Mke:</span> Wake zetu tunawapenda sana lakini wakati mwingine wanaweza kuwa chanzo cha hasira. Pamoja na kuwa mke anaweza kuwa chanzo cha hasira hatuwezi kuwalaumu kwani hivyo ndivyo walivyo. Mungu alisema katika kitabu kitakatifu kwamba, tuishi na wake zetu kwa akili. Mungu aliyajua haya ndio maana katuachia hilo jukumu. Katika tafiti nyingi duniani, mke ni chanzo kikubwa sana cha hasira kwa wanaume. Nikuambie kitu, pamoja na kuwa mke anaweza kuwa chanzo kikubwa cha hasira, suluhisho sio kumkimbia bali ni kutafuta mbinu mbali mbali za kupunguza hasira. Usipoweza kupunguza hasira za kila siku, hakika utakufa mapema sana. Lakini ukiweza kudhibiti hasira utagundua kwamba maudhi anayokupatia mke wako wala hayana madhara kama unavyofikiri.</p>
<p><span>Mume:</span> Pamoja na kuwa wanaume wengi wanadai kwamba wake ndio chanzo cha hasira, vile vile wanawake nao wanadai kwamba waume ndio chanzo cha hasira. Mimi naweza kukubalina nao kwani ni kweli pande zote mbili zina shida. Lakini kutokana na tafiti mbali mbali, wanawake wameumbwa na uwezo mkubwa wa kuhimili madhara ya hasira, miili yao imajengwa na uwezo wa kuhimili matatizo mengi, mfano, uwezo wa kubeba mimba na kunyonyesha.</p> 
<p><span>Kazini:</span> Hili ni eneo lingine ambalo kila siku katika maisha yetu linaweza likawa ni sehemu ya kutengeneza hasira. Kazini wapo watu wenye tabia mbali mbali, wapo watu watakuudhi kwa makusudi na wapo watakao kuudhi kwa bahati mbaya. Tambua kwamba hasira za mara kwa mara hata kama ni ndogo ndogo zina madhara makubwa katika mwili wako.</p>
<p><span>Mtaani:</span>Maeneo tunayoishi tunaishi na kushirikiana na watu. Usipo angalia mtaani kwako panaweza kuwa ni sehemu kubwa ya hasira katika maisha yako. Ukidhibiti hasira utakuwa na busara na hivyo kuheshimika mtaani kwako.</p>
<p><span>Watoto:</span> Haijalishi unawapenda watoto wako vipi, wanaweza wakawa chanzo kikubwa cha hasira za kila siku. Kumbuka; unaweza kuwaonya watoto hata kuwachapa bila kuwa na hasira. </p>

<p><span>Yapo maeneo mengine</span> mengi ambayo yanaweza kuwa ni mazalio ya hasira katika maisha yako. Kwa kifupi ni kwamba jitahidi kujenga amani popote utakapokuwepo ili kupunguza hasira.</p> 
<p><span>Kumbuka; unaweza kudai haki kwa nguvu zote bila kuwa na hasira.</span></p>


<hr>
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>

<h3><a name="mapenzi"></a></h3>
<h3>HASIRA KWENYE MAPENZI.</h3>
<div class="line-sep"></div>
	
<p>Mapenzi hayahusishi akili peke yake bali pia yanahusisha  moyo  na  mwili. Nyimbo nyingi zilizotungwa duniani zinahusu mapenzi, hii ni kuonyesha kwamba, kweli mapenzi yanaiendesha dunia. Mahusiano ya mapenzi yanaweza kuwa  chanzo kikubwa cha hasira katika maisha yetu ndio maana sura hii nzima imetengwa kwa ajili ya hasira za mapenzi. </p> 

<p>Hasira za mara kwa mara zina madhara makubwa sana katika maisha yetu, hivyo, unapokuwa na hasira huna budi kutumia mbinu mbali mbali ili kukabiliana nayo. Mbinu hizi, kama zilivyo elezwa katika sura inayofuata, zitakusaidia sana kupunguza hasira kwenye mahusiano yako ya mapenzi. Lakini, kutokana na kwamba mahusiano ya mapenzi ni ya muda mrefu na yanachanganya sana, ni lazima tufanye kazi ya ziada, turudi hatua moja nyuma tujifunze namna ya ku epuka(avoid) hasira kwenye mapenzi.</p>
 
<p>Kama tayari umeshazama kwenye mapenzi ya kudumu na umevuka hii hatua, usijali bado unaweza kutumia mbinu hii na ukaepuka hasira za mara kwa mara, ila ukweli ni kwamba kwako itahitaji busara nyingi zaidi.</p>

<p><span>Mahusino yakiharibika.</span></p>
<p>Mahusiano yakiharibika, mtu wa kwanza kumlaumu ni wewe mwenyewe, nitakumbia kwanini. Kabla sijakuambia kwanini, tuone nini kinafanya mahusiano ya mapenzi kuwa mazalio makubwa ya hasira. </p>

<p>Safari ya mapenzi inaanza pale unapokutana na mtu fulani ambaye mara nyingi ni mgeni (stranger) halafu mna anza kupendana. Mtu unayekutana naye ana jinsia tofauti na wewe, amelelewa katika mazingira tofauti, ana matamanio tofauti na mwenye misimamo tofauti na wewe. Mpaka hapo tu, kabla sijaendelea utaona kwanini mapenzi ni mazalio makubwa ya hasira.</p>

<p>Huko nyuma tumeona kwamba, hasira inampata mtu pale anapo kumbana na jambo ambalo hakubaliani nalo. Kukubaliana au kutokubaliana kwa jambo inatokana na maisha yako, jinsi uvyolelewa, jinsi unavyo amini na jinsi unavyotaka. Yapo mambo mengi ambayo kwa mpenzi wako sio mabaya lakini kwako ni mabaya. Vile vile yapo mambo mengi ambayo ni mabaya kwenu wote lakini kwa viwango tofauti, kiwango kikubwa kwako kuliko kwake. Huu utofauti ndio chanzo kikubwa cha magomvi katika mapenzi.  Sasa tufanyeje, soma hiyooo.</p>

<p><span>Namna ya kuepuka hasira ya mapenzi.</span></p>

<p>Kwenye  mapenzi yapo maudhi ya aina mbili; moja ni yale maudhi makubwa ambayo huwezi kukukubaliana nayo hata iweje, tunaweza kuyaita "kanuni" au kwa kizungu wanaita"principles", na  maudhi mengine ni yale madogo ambayo japo kwa shida lakini tunaweza kuyakubali na kuishi nayo.</p>


<p>Kanuni ni nini? Kanuni ni makubaliano ya msingi ndani ya mtu mwenyewe au mtu na mtu, yanayotengeneza  utaratibu wa maisha kwa muda mrefu ambayo hayabadiliki badiliki kiurahisi.</p> 

<p>Msimamo ni maamuzi ya jambo fulani yasiyobadilika kiurahisi, yanaweza kuwa ya muda mfupi au muda mrefu.</p>

<p>Kanunu zinazaa msimamo au kwa lugha nyingine unaweza kusema kanunu ni misimamo wa muda mrefu usiobadilika kiurahisi. Misimamo ya muda mfupi mfupi sio kanuni bali ni mihemko (emotions). 

<p>Kama umenielewa, tunakaribia kwenye mbinu ya kuepuka hasira.</p>

<p>Kanuni ili iwe kanuni lazima  itoke rohoni(iaminike), iwe na madhara makubwa isipofutwa, lazima isemwe mwanzoni  na ikazaniwe kila wakati. Kanuni kwenye mapenzi, ni makubaliano ambayo huwezi kwenda kinyume chake kiurahisi, ambayo hata kama hauta vunja mahusiano yako basi yataaendelea kukumiza na kudhoofika mwili wako.</p> 

<p>Kwa hofu ya kumpoteza mchumba, mpenzi au mume/mke watu wengi wanaficha kanuni zao. Halafu wakiwa kwenye mahusiano ndio wana anza kutoa moja baada ya nyingine kama karata vile. Hapa ndipo tunapokosea.</p>

<p>Tumia mbinu zozote zile unazozijua wewe ili kuweka kanunu zako wazi mapema vile vile tumia mbinu yeyote ujue kanuni za mwenzako. Cha muhimu, hakikisha hatua hizi zote hazi muudhi mwenzako.</p>

<p>Kama tayari umeshaingia kwenye mahusiano bado unaweza kuchukua hatua hizi  ila utahitaji busara na upole zaidi, ila kumbuka "You can hardly teach an old dog a new tricks".</p>

<p>Kama utashindwa kufanya haya yote basi  kubaliana na matokeo, mkabidhi Mungu kisha zama kwenye mbinu za kupunguza hasira kama zinavyoonyeshwa kwenye sura inayofuata.</p>


<hr>
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>

<h3><a name="ujasiriamali"></a></h3>
<h3>HASIRA KWENYE UJASIRIAMALI.</h3>
<div class="line-sep"></div>
<p>Shughuli za ujasiriamali ni chanzo kikubwa cha hasira katika maisha yetu ndio maana sura hii nzima imetengwa mahususi kwa ajili ya kukufundisha namna ya kuepuka (avoid) hasira kwenye ujasiriamali. 
<p>Ni miaka kumi imepita tangu niliposikia maneno haya, lakini bado ninayakumbuka kama vile nimeambiwa jana. Nilipokuwa mwaka wa kwanza kwenye shahada yangu ya pili, tulisoma somo liitwalo "Kanuni za Uongozi" <i>(Management Principles)</i>. Hili somo lilikuwa linafundishwa na mwalimu mmoja machachari sana kiasi kwamba hakuna mwanafunzi aliyekuwa anakosa kipindi chake. Mafunzo yake yalinisaidia sana katika maisha yangu ya ujasiriamali.  Katika maneno yote aliyokuwa anayasema, lipo neno moja ambalo limekuwa muongozo mkubwa sana katika maisha yangu hadi sasa, haya ndio maneno yake; alisema hivi; " Ukiwa Meneja halafu mteja akakutukana, huyo mteja hajakutukana wewe amemtukana Meneja".  Haya maneno yanabeba ujumbe mkubwa sana, ukiyatafakari sana utagundua kwamba kumbe  akili inaweza kutatua maudhi.</p>

<p>Kibiashara, maana yake ni kwamba, ukiwa kwenye biashara zako unabadilika na kuwa mjasiriamali, kwahiyo  mteja akikuudhi hajakuudhi wewe bali amemuudhi mjasiriamali kwahiyo huwezi kukasirika kwani mjasiriamali hakasirikagi. Ukifahamu madhara ya hasira, utagundua kwamba hamna haja ya kukasira kwani mwisho wa siku hasira itaangamiza biashara yako. Maneno haya ukiyajua vizuri na kuyaamini yatakusaidia na hasira itakuwa historia katika biashara yako. </p>

<p>Kutokana na kuwepo kwa madhara ya hasira katika ujasiriamali, mjasiriamali anapaswa kutumia mbinu mbali mbali ili kupunguza hasira. Mbinu hizi za kupunguza madhara ya hasira zimeelezwa kwenye sura ya mbele. Mbinu hizi zitakusaidia sana kupunguza hasira kwenye biashara yako na hatimaye kufanikiwa kibiashara. Lakini, kwasababu ujasiriamali una changamoto nyingi sana  na ni wa kudumu, lazima tufanye kazi ya ziada, turudi hatua moja nyuma tujifunze jinsi ya ku epuka(avoid) hasira kwenye ujasiriamali. </p>

<p><span>Angalizo;hapa kwenye sura hii tunaongelea kuepuka hasira sio kupunguza hasira</span></p>

<p>Tutaepukaje hasira kwenye ujasiriamali?, soma hiyoo.</p>
<p>Kiwango cha hasira kinatokana na maudhi yalipotokea. Maudhi yale yale lakini yanauma zaidi kutegemeana na mtu aliye kuudhi. Mfano, akikutukana mtu unayemuheshimu sana ita uma kuliko akikutukana mtu usiyemuheshimu, ukiibiwa na mtu wako wa karibu unayempenda sana itaku uma kuliko ukiibiwa na mtu baki. Sasa kama tunakubaliana na hilo tunakaribia kwenye mbinu ya kuepuka hasira kwenye ujasiriamali.</p>

<p><span>Epuka hasira kwenye ujasiriamali.</span></p>

 <p>Kwenye maisha ya ujasiriamali  wapo marafiki wa aina tatu; rafiki jamii (Social friend), rafiki biashara (Business friend) na  mchanganyiko yaani rafiki jamii na biashara.</p>

<p><span>Rafiki jamii</span>, hawa ni marafiki ambao munasaidiana kwenye shida na raha. Marafiki hawa, watakuwepo siku zote katika maisha yako.</p> 

<p><span>Rafiki biashara</span>, hawa ni marafiki ambao wapo na wewe kwa malengo ya kufanya biashara na kupata faida. Marafiki hawa wanadumu tu pale biashara inapokuwa na faida. Marafiki hawa hawahusiki na shida zako za nyumbani.</p>

<p><span>Rafiki jamii na biashara</span>, ni yule rafiki ambaye yupo pande zote, ni rafiki yako katika shida na raha lakini vile vile ni rafiki yako kwenye kufanya biashara na kupata faida.</p>

<p><span>Sifa kubwa ya rafiki jamii.</span></p>
<p>Marafiki jamii wanakuwepo pamoja katika maisha yao ya kila siku, wanasaidiana, wanatembeleana, wanapigiana simu na pengine hata watoto wao wanacheza pamoja. Binaadamu wengi wakifanikiwa katika maisha yao wana kuwa na tabia ya kuwaacha marafiki wao wa zamani na kuongozana na marafiki wapya wenye kipato sawa na wao. Hii ndio ilivyo na ndivyo itakavyoendea kuwa kwani ni asili ya binaadamu. Watu wanapopishana sana kipato wanakuwa... kwa kiingereza imekaa vizuri..<i>"they don't speak the same language" </i> yaani, hawazungumzi lugha moja, kwahiyo inabidi watengane.</p>

<p>Kwasababu rafiki yako kipenzi anakupenda sana na hataki kukupoteza, bila yeye kujijua anajikuta anachukia ukifanikiwa, matokeo yake wivu unatawala. Wivu ukikomaa unakuwa chuki, chuki ikikomaa inazaa ugomvi na hapo ndio unakuwa mwanzo wa mfarakano na kutengana.</p>

<p>Nini cha kufanya? vipo vitu viwili vya kufanya; moja, usimuhusishe rafiki jamii kwenye biashara zako, pili, kama utamuhusisha basi ni lazima mikataba iwekwe wazi mwanzoni na ihubiriwe kila wakati. Hakikisha mikataba hii inagusa kila eneo na yenye malengo ya kuwanufaisha wote.</p>

<p>Usipofanya haya mawili, wewe mwenyewe utakuwa shahidi yangu, utagombana na marafiki zako kila siku. Kibaya zaidi ni kwamba, ukigombana na rafiki yako mkubwa inauma sana na hasira yake utakaa nayo kwa muda mrefu. 
Kama tayari upo kwenye biashara zako na marafiki jamii, hujachelewa, anza sasa kutekeleza hatua ya pili, weka mikataba na hakikisha unaihubiri kila siku. Ukishindwa kufanya hivyo basi kubali matokeo, mkabidhi Mungu halafu nenda kwenye sura inayofuata jifunze namna ya kudhibiti hasira.</p>

<hr>
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>	
	
<h3><a name="namna"></a></h3>
<h3>NAMNA YA KUPUNGUZA HASIRA.</h3>
<div class="line-sep"></div>

<p>Unavyozidi kukaa na hasira ndivyo unavyo umiza mwili wako. Ngoja nikupe mtihani kidogo, siku moja ukiwa na hasira kali, nenda moja kwa moja kwenye kioo jiangalie. Utakuta kuna mishipa imekutoka upande wa kulia na kushoto mwa paji la uso wako. Kama umekuwa na hasira kwa muda mrefu, utaona mpaka macho yako yamebadilika na kuwa mekundu. Ukijichunguza zaidi utakuta uso wako umekaza, umeng'ata meno, mapigo ya moyo yameongezeka, unatoka jasho, unatetemeka na wakati mwingine mpaka unasikia kizunguzungu. Zipo dalili zingine ambazo huwezi kuziona kwenye kioo kama vile kujisikia mnyonge, kuwa na hofu, kuongea kwa sauti kubwa na kupiga makelele.</p>
<p>Hizi zote ni dalili zinazojitokeza wakati unayo hasira na zinahusisha mwili mzima. Hasira za mara kwa mara zinaleta madhara makubwa katika miili yetu. Baadhi ya madhara ni ya muda mfupi na mengine ni ya muda mrefu kama vile; kuumwa kichwa, kupata matatizo ya tumbo, kuwa na hofu, kuwa na huzuni, kupata matatizo ya ngozi, kupata matatizo ya usingizi,  kupata ugonjwa wa presha, mshtuko wa moyo (heart attack) na hata kupata kiharusi (stroke). </p> 

<p>Ukiwa na uwezo wa kudhibiti hasira sio tu itakuepusha na magonjwa tuliyoyataja hapo juu bali pia itakuepusha na utoaji wa maamuzi mabaya. UKIWEZA kudhiti hasira utashangaa unakuwa mtu wa furaha wakati wote na haya maudhi yatabadilika na kuwa motisha(msukumo) wa kufanya mambo mazuri. </p>

<p>Katika kutafuta ufumbuzi wa namna ya kudhibiti hasira, nimefanya tafiti nyngi sana na nimeziorodhesha hapo chini. Hatua hizi nimezichambua kutoka vitabu mbali mbali na kuzifanyia kazi mimi mwenyewe na kuona matunda yake. Zisome zielewe halafu taratibu anza kuzifanyia kazi.
Zifuatazo ni baadhi ya hatua za kuchukua ili kupunguza hasira na hatimae tatizo la hasira kuwa historia katika maisha yako;</p>

<p><span>Cheza na misuli yako.</span></p>
<p>Eneo kubwa linalopambana na hasira ni moyoni na kichwani. Binaadamu ana uwezo wa kukaza na kuachia baadhi ya mishipa ya mwili wake, mishipa kama ya usoni, kichwani, mdomoni, machoni na shingoni. Unapokasirika mishipa hii inakaza sana, matokeo yake mishipa inakuwa membamba zaidi hivyo kufanya presha ya msukumo wa damu kuwa kubwa zaidi. </p>
<p>Unapokuwa na hasira legeza kwa makusudi misuli yako ili kuipa damu nafasi ya kutawanyika bila kuleta madhara makubwa mwilini. Kama ulikuwa umeng'ata mdomo  achanisha, kama ulikuwa umekaza mishipa ya usoni legeza, kama ulikuwa umekaza mishipa ya shingoni legeza. Ukifanya hivi utaanza kujisikia nafuu. Hii ni mbinu ya kupunguza presha kwenye misuli ya mwilini lakini pia inapunguza makali ya hasira. </p>

<p><span>Ikibidi igiza</span></p>
<p>Kumbuka hili, unaweza kupigania haki yako bila kuwa na hasira. Sio lazima uwe na hasira ndio uwe na moyo wa kufuatilia jambo. 
Umesha wahi kuwaona  waigizaji wa bongo movie, kwa nje anaonekana kama ana hasira lakini kwa ndani hana hasira. Hivyo hivyo ndivyo unavyotakiwa kufanya katika maisha ya ukweli, igiza kwamba una hasira ili kudai haki yako bila kuwa na hasira ndani. Dai haki yako kwa nguvu zote, hakikisha hauna hasira. </p>

<p>Unaweza kufuatilia jambo kwa nguvu sana bila kuwa na hasira. Kama hiyo ni kweli , usikasirike kwa jambo ambalo limesha tokea. Swali la kujiuliza ni hili, je kuna kitu unaweza kufanya?, kama kipo fanya kama hakipo  basi achana nacho endelea na maisha yako. Mfano, unapo endesha gari halafu mtu akaja akakugonga kwa nyuma, hauna haja ya kukasirika kwani gari limesha umia (madhara yameshatokea), cha kufanya ni hiki; fuatilia haki yako kwa nguvu zote bila kuwa na hasira.  Unaweza ukaniuliza je akikataa kunilipa, kumbuka, sio lazima kukasirika wakati unadai haki yako, unaweza ukapiga makelele bila kukasirika na pia unaweza ukamshika shati bila kukasirika. Haya matendo yote ya kujihami unaweza kufanyika bila kukasirika. 
Umeshawahi kumuona mtu anadai haki yake huku anacheka au yupo kimya?.</p> 

<p><span>Vuta Pumzi.</span></p>
<p>Unapokuwa na hasira unahema haraka haraka, unachotakiwa kukifanya ni kinyume chake, hema taratibu, vuta pumzi kubwa shikilia kwa muda halafu shusha pumzi taratibu. Ukivuta pumzi mara mbili mara tatu utashangaa hasira inapungua na kurudi katika hali ya kawaida. Unaweza kufanyika Kitendo cha kuvuta pumzi kubwa na kupumua taratibu bila watu wanaokuzunguka kugundua, fanya mara nyingi uwezavyo. </p>


<p><span>Ondoka eneo la tukio</span></p>
<p>Muda ni mwarubaini wa hasira. Kama una hasira sana na unaona unashindwa kujizuia ondoka eneo la tukio. Kuwepo katika eneno la tukio ni kitendo cha kuchochea hasira. Muda mfupi wa utulivu mbali na tukio unaweza kukusaidia kujisikia vizuri. Mfano; umefika nyumbani ukakuta mtoto wako amevunja TV yako unayoipenda. Usipoangalia unaweza kuchukua maamuzi yasiyo mazuri kutokana na hasira. 
<p>Ukiona unashindwa kudhibiti hasira yako, ondoka nenda mbali na nyumbani. Muda utakao kuwa mbali na tukio hasira zitapungua na utajikuta unapata majibu yenye busara zaidi.</p>

<p><span>Jua haki yako.</span></p>
<p>Unapopata tatizo, jitahidi uwezavyo kujua haki yako badala ya kutumia muda kulalamika, angalia namna ya kupata haki yako kwanza. Mfano; upo kazini halafu mfanyakazi mwenzako akakutukana na unajua kwamba ni haki yako kuheshimiwa, badala kukasirika chukua hatua madhubuti ili kukomesha hicho kitendo. Kuchukua hatua na kukasirika ni vitu viwili tofauti, unaweza kuchukua hatua kali bila kukasirika.</p>

<p><span>Fanya Mazoezi</span></p>
<p>Zipo hasira zingine zinadumu kwa muda mrefu baada ya tatizo kutokea. Mazoezi yanaweza kusaidia kupunguza hasira. Mazoezi ni moja ya shughuli ya kimwili itakayo kuwezesha kupunguza hasira. Kama wewe sio mtu wa kufanya mazoezi magumu kama kukimbia na kunyanyua vyuma basi tembea. </p>

<p><span>Fikiria kabla ya kuzungumza</span></p>
<p>Ukiwa na hasira ni rahisi sana kusema kitu ambacho utajutia baadaye. chukua muda mfupi kukusanya mawazo yako kabla ya kusema chochote, hii itaruhusu wengine kushiriki kutoa maoni yao hivyo kupata uhalisia wa tukio. Maneno yanayotoka kinywani mwako wakati unayo hasira yanaweza yaka weka doa lisilofutika katika mahusiano yako lakini vile vile maneno yanaweza ku chochea fujo na kuleta madhara zaidi. Ukiwa na hasira jitahidi kuzungumza kidogo na ni baada ya kufikiri kwa muda.</p>

<p><span>Ipe walakini nafasi.</span></p>

<p>Mara nyingi hasira inakuja papo kwa papo hivyo ni vigumu sana kupata taarifa sahihi. Nikuulize swali, ni mara ngapi umekuwa na hasira, ukachukua hatua mbaya kuja kugundua baadae kumbe taarifa haikuwa sahihi? Mara nyingi wakati wa hasira unakuwa huna taarifa kamili ya tatizo. Badala ya ku paniki na kuanza kukasirika, tulia kwanza, uliza maswali yote upate uhakika wa nini kimetokea. Amini usiamini, kile kipindi cha kuuliza maswali pamoja na kwamba kinaweza kikawa kifupi lakini kinatosha kutuliza hasira yako. Hasira inatokana na mshtuko wa kuona kitu ambacho hauja kitegemea. Unapokuwa kwenye mazingira ya tatizo kwa muda unaanza kuzoea na hivyo hasira kupungua.</p> 

<p><span>Usiweke chuki</span></p>
<p>Hasira inadumu muda mrefu kama inachochewa. Chuki ni kichocheo kikubwa cha hasira. Msamaha ni kichocheo kikubwa cha amani. Ukiweza kusamehe mtu aliyekukasirisha, maana yake ni kwamba unaacha kuchochea hasira na kujenga amani. Kusamehe inafundishika, jitahidi kusamehe kwa hiari ukishindwa samehe kwa lazima. </p>

<p><span>Tumia mbinu ya ucheshi.</span></p>
<p>Tumia ucheshi ili kupunguza hasira. Pamoja na kuwa jambo lililotokea ni baya na linaudhi, ucheshi unaweza kuwa silaha ya kupunguza hasira. Epuka ucheshi unao umiza hisia kwani utafanya mambo kuwa mabaya zaidi. Mara nyingi ucheshi usio n amadhara sana ni ule unao uelekeza kwako mwenyewe.</p>

<hr>
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>
<h3><a name="hitimisho"></a></h3>
<h3>HITIMISHO</h3> 
<div class="line-sep"></div>

<p>Zipo dalili zote kwamba shetani amewekeza sana kwenye hasira. Kama unataka kuishi miaka mingi tumia gharama yeyote ile ili kushinda hasira. Hasira haitakupeleka tu jela bali pia itakupeleka kaburini.</p>
<p>Nina uhakika tukitumia mbinu zote zilizoelezwa kwenye hiki kitabu, kitu hasira kitakuwa historia katika maisha yetu. Madhara ya hasira ni makubwa kuliko tunayo yaona hivyo ni vyema kujitahidi ili kuondokana na hasira. </p>
<p>Kumbuka, kutokuwa na hasira haimananishi kwamba utaonewa na kudhulumiwa. Kinyume cha mtu mwenye hasira ni mtu mwenye busara. Watu wenye busara ndio wanaofanikiwa katika maisha. Watu wenye busara wanafanikiwa kwenye biashara, makazini, ndoa na hata kwenye michezo na taaluma zingine mbali mbali. </p>
<p>Ukiondoa hasira busara inatawala busara ikitawala mafanikio yanakujia. Anza kufanyia kazi mbinu hizi matokeo yake utayafurahia. Asante</p>

<p><span>ASANTE</span></p>

Long version of will be available soon.

<br><br>

<hr>
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>
	
						</div>
						
			</div>


		</div>
	
</main>
     
     
      {% endblock %}   
        
       