{% extends 'base3.html' %}
{% load staticfiles %}
    {%block head%}
     
    {% if item != None %}
        <title>{{item.name}}-Selected Class</title>
        
    {% else %}
        <title>Invalid Item ID- Selected Class</title>
    {% endif %}
    
    {%endblock%}


   {% block body %}
	<!-- Added for Social Sharing -->
	<div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_vertical_style" style="right:0px; top:147px; background-color: rgb(71, 107, 140);">
		<p class="share_to" style="font-size: 14px;"><span style="color: white;"><b>Share On</b></span></p>
		<a class="a2a_button_facebook" style="margin-top: -31px;" title="Share to Facebook"></a>
		<a class="a2a_button_twitter" title="Share to Twitter"></a>
		<a class="a2a_button_google_plus" title="Share to Google+"></a>
		<a class="a2a_button_linkedin" title="Share to Linkedin"></a>
	</div>
	<script async src="https://www.ciowhitepapersreview.com/assets/js/social_sharing.js"></script>	
<header>
		<nav class="navbar navbar-expand-lg navbar-light">

			<div class="container">
			  <button class="btn menu-btn d-md-none .d-lg-none"  onclick="openNav()">
			  	<i class="fa fa-bars"></i>
			  </button>

			  <a class="navbar-brand" href="#">OBG GLOBAL</a>
			
                            <div id="mySidenav" class="asidenav">
                              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                              <a class="btn btn-follow href="{% url 'accounts:logout'%}" role="button">Logout </a>
                              <li class="nav-item mr-20"><a href="{% url 'accounts:login'%}">Log In</a></li>  
			      <a href="{% url 'home:chat'%}" role="button">My Books</a>
                               <a href="{% url 'accounts:register'%}" role="button">Register</a>
                              
                            </div>

			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav ml-auto">
			     	  {% if user.is_authenticated %}
                                
                                
                <li class="nav-item mr-20"><a href="{% url 'home:chat'%}">My Books</a></li>
                
                <li class="nav-item mr-20"><a class="btn btn-follow href="{% url 'accounts:logout'%}">Logout</a></li>
			    </ul>
                            
                      {%else%}         
                            
               <ul class="navbar-nav ml-auto">
                <!--<li class="nav-item mr-20"><a href="{% url 'home:home'%}">Home</a></li>-->
                 <li class="nav-item mr-20"><a href="{% url 'home:chat'%}">My Books</a></li>
                 <li class="nav-item mr-20"><a class="btn btn-follow href="{% url 'accounts:logout'%}">Logout</a></li>
		<li class="nav-item mr-20"><a href="{% url 'accounts:login'%}">Sign in</a></li>
                <a href="{% url 'accounts:register'%}" role="button">Register</a>
                <!--<li class="nav-item mr-20"><a href="{% url 'accounts:reset_password'%}">Reset Password</a></li>-->
            </ul>
            {%endif %}            
                            
                            
                            
                            
			  </div>
			</div>


		<div class="line"></div>
		</nav>
	</header>
                    
                
                    
                   

	<style>
.terms-home{
background: url(https://whatis.ciowhitepapersreview.com/border_diagonal.png) repeat-x 0 bottom;
}
.contnthere ul li {
	list-style-type : disc !important;
}
</style>
 
          <br> <br> 
	
        
        <section class="section grey-scale">
			<div class="container">
				
				<div class="row">
					<div class="col-md-6">
						
					<!--<img src="{%static 'img/i.jpg'%}" class="img-responsive" alt=""'>	-->
					<img src="{%static 'img/safront.jpg'%}" class="img-responsive" alt=""'>	
					</div>


					<div class="col-md-6">
						<div class="course-image bottom-in">
								
							<img src="{%static 'img/safront2.jpg'%}" class="img-responsive" alt=""'>	
								<!--<img src="{%static 'img/i.jpg'%}" class="img-responsive" alt=""'>-->
						</div>
					</div>
				</div>
			</div>
        
        </section>
        
        
        
        
        
        
        
        
        
        
        
        
        
        <section id="vedio-sec" style="background-color: #fff;">
        <div class="container">
          
          
            <div class="row pad-top-botm" style="padding-top: 40px;">
				
                            
                            
                <div class="col-md-8">
					<div class="col-lg-12 col-md-12">
						<div class="col-lg-12 col-md-12" style="padding-left: 0;padding-right: 0;">
							<div class="cat-blocks">
								
                                                                
							</div>
                                                        <h2 class="btn btn-follow" ><span><a href="{% url 'accounts:login'%}" style="color:#fff;text-decoration:none;">Login</a></span></h2>
                 <h2 class="btn btn-follow" ><span><a href="{% url 'accounts:login'%}" style="color:#fff;text-decoration:none;">Buy book</a></span></h2>
						</div>
					</div>
                                        
                                        
                                        
			    
			    
                                        
                                        
                                        
                                        
					<div class="col-lg-12 col-md-12  col-sm-12" style="padding-left: 0;padding-right: 0;margin-bottom: 15px;">
						<div class="col-lg-12 col-md-12  col-sm-12 contnthere" style="margin-bottom: 15px;">
							 <p style="text-align: justify;">
							 <p><span>OBG</span> is one of the leading direct selling companies,
                                                         offering meaningful products in diverse markets. Our focus is to enable people to rise
                                                         through solutions that power entrepreneurship and enhance lifestyles.

                                                       OBG grass-roots business model enables ordinary people from all walks of life to start
                                                        their own business with minimal overhead. With hard work and dedication, OBG distributors,
                                                        known as Independent Representatives (IRs), have the opportunity to become economically
                                                        self-sufficient, improving the life of their families and communities as well as helping
                                                        others to achieve their dreams.</span></p>

<h2><u><span style="font-size:18px"><strong>Our Mission and Vision</strong></span></u></h2>



<p>Our MISSION is to contribute to the global community through the daily application efforts. We do this by helping individuals achieve their goals and lead better lives
through a combination of an entrepreneurial business opportunity with life-enhancing products.</p>

<p>Our VISION is to be the global eCommerce leader within the direct selling industry, leveraging this position so as to be a positive influencer in the development
of sustainable and professional network marketing communities around the world.</p>


<div class="container">

<div class="col-md-12 whatis-terms-home">
					<section class="trending-topics-section" id="trendingTopics">
						<div class="trending-topics">
							<h2 class="terms-home"><i class="icon whatis_trending"></i>OUR PRODUCT</h2>
							
						</div>
                                                
                                                <h3><span style="font-size:16px"><strong>Book</strong></span></h3>
                                                <div class="line-sep"></div>
                                                
                                                <div class="course-image bottom-in">
								
							<img src="{%static 'img/safront3.jpg'%}" class="img-responsive" alt=""'>	
								<!--<img src="{%static 'img/i.jpg'%}" class="img-responsive" alt=""'>-->
						</div>
                                                
                                                <p> An invaluable learning experience in a professional yet informal
                                                education setting, designed for networkers and entrepreneurs to develop their skills and abilities needed to succeed in their business.</p>

					</section>



</div>


<h3><span>THE OBG COMPENSATION PLAN</span></h3>
<hr>
<p>At OBG GLOBAL, we make it our top priority to deliver world-class quality products and services to all our customers
worldwide, and our mission to make these OBG products a part of their everyday lives. What sets us apart is that these products are complemented
with a dynamic Compensation Plan that rewards you for selling and referring our products and services, and empowering others to do the same.</p>

<p>A sustainable business and the lasting power of true residual income are within reach for every OBG Independent
Representative who develops and practises the disciplines of <span>REFER, REPEAT, RISE, AND RETAIN.</span></p>
</div>
<section class="section grey-scale">
			<div class="container">
				
				<div class="row">
					<div class="col-md-3">
						<h4><span style="font-size:14px"><strong>Refer</strong></span></h4>
                                                <div class="line-sep"></div>
<p><span style="font-size:16px">Regularly using and referring OBG products as you build your sales team is a discipline and practice that will
build your foundation for long term growth and sustained income.
RETAIL PROFIT
EARLY PAYOUT</span></p>
					<!--<img src="{%static 'img/i.jpg'%}" class="img-responsive" alt=""'>	-->
					<img src="{%static 'img/safront5.jpg'%}" class="img-responsive" alt=""'>	
					</div>


					<div class="col-md-3">
						<div class="course-image bottom-in">
							<h4><span style="font-size:14px"><strong>Repeat</strong></span></h4>
                                                        <div class="line-sep"></div>
<p><span style="font-size:16px">Be a product of your product and consume. Create this repetition behaviour in your business team to enjoy true
residual income.

STEP COMMISSION
REPEAT SALES COMMISSION</span></p>
	
							<img src="{%static 'img/safront6.jpg'%}" class="img-responsive" alt=""'>	
								<!--<img src="{%static 'img/i.jpg'%}" class="img-responsive" alt=""'>-->
						</div>
					</div>
                                        
                                        <div class="col-md-3">
						<div class="course-image bottom-in">
								<h4><span style="font-size:14px"><strong>Rise</strong></span></h4>
                                                                <div class="line-sep"></div>
<p><span style="font-size:16px">You rise in rank, stature, and earning as you advance in the OBG. Do not underestimate the
importance of setting and achieving goals through this Rank Advancement platform.
MONTHLY RANK ADVANCEMENT AND MAINTENANCE</span></p>
							<img src="{%static 'img/safront7.jpg'%}" class="img-responsive" alt=""'>	
								<!--<img src="{%static 'img/i.jpg'%}" class="img-responsive" alt=""'>-->
						</div>
					</div>
                                        
                                        <div class="col-md-3">
						<div class="course-image bottom-in">
								<h4><span style="font-size:14px"><strong>Retain</strong></span></h4>
                                                                <div class="line-sep"></div>
<p><span style="font-size:16px">Retain the success that you and your sales team have achieved to ensure a sustainable and solid business
that will help you lead more people to the incredible benefits.
RANK MAINTENANCE BONUS
YEAR-ROUND INCENTIVES</span></p>

							<img src="{%static 'img/safront8.jpg'%}" class="img-responsive" alt=""'>	
								<!--<img src="{%static 'img/i.jpg'%}" class="img-responsive" alt=""'>-->
						</div>
					</div>
				</div>
			</div>
        
        </section>



							</p> 		
						</div>		
					</div>			
				</div>				
				<div class="col-md-4 whatis-terms-home">
					
                    
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Whatis.ciowhitepapersreview -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:300px;height:250px;margin-left:20px;"
                         data-ad-client="ca-pub-5965893319682433"
                         data-ad-slot="8926337567"></ins>
                         
						<script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                     
                    
				</div>
                
							
					
						
			</div>
		</div>
			
    </section>
 {% endblock %}