
{% extends 'base.html' %}

 
   {% block body %}
        <div class="container">
          
        <div class="container-fluid">
        <div class="container">
          
          <h1 class="display-3"><span>AFRICAN PLAN FURSA</span></h1>
          
          <h2>Kwanini ushindwe, ni rahisi sana,  watu wawili tu wanatosha kukufanya wewe milionea. Kwanini ufanye biashara peke yako? kwanini uumie
          mwenyewe?. Ukiwa mwanachama katika mtandao wetu unamiliki ofisi yako pamoja na wafanyakazi. Kila mtu anahitaji wafanyakazi wawili tu
          lakini mwisho wa siku utafaidika na watu wote waliopo katika mtandao wako. Kumbuka, mtu yeyote aliyefanikiwa anatumia watu kumfanyia kazi.
          Karibu kwenye mtandao wetu ugawanye faida na kampuni. Kuingia kwenye ofisi yako weka jina lako la ofisi na neno lako la siri.
          Kama hauna ofisi wasiliana na wahudumu kwa ajili ya kukodisha ofisi.</h2>
          
          <ul class="nav navbar-nav navbar-left">
          <p><a class="btn btn-primary btn-lg"href="{% url 'accounts:login'%}" role="button">Ingia ofisini &raquo;</a></p>
          </ul>
          
          <!--<ul class="nav navbar-nav navbar-right">
          <p><a class="btn btn-primary btn-lg"href="{% url 'accounts:register'%}" role="button">Sign up &raquo;</a></p>
          </ul>-->
          
        </div>
      </div>
        
        <br>
                <div class="container">
                  
                      <div class="row">
                          
                        <div class="col-md-4">
                          <h2><a href="#BASIC" role="button">Nitajiungaje? &raquo;</a></h2> 
                        </div>
                        
                        <div class="col-md-4">
                          <h2><a href="#ADVANCED" role="button">Fursa Zingine &raquo;</a></h2> 
                        </div>
                        
                        <div class="col-md-4">
                          <h2><a href="#TAILOR" role="button">Je kama sitaki kuunga watu? &raquo;</a></h2> 
                        </div>
                        
                        <div class="col-md-4">
                          
                          <h2><a href="#GIS" role="button"> Kujitoa &raquo;</a></h2> 
                        </div>
                        
                </div>
        </div>
        </div>
        
       <h2>Angalia video ili uelewe zaidi</h2>
       <div class = "container">
        <div class="panel-heading">
        <div class="embed-responsive embed-responsive-16by9">
      <!--<iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/f-SPJ92Egxg?rel=0" allow="autoplay; encrypted-media" allowfullscreen></iframe> --> 
        </div>
        </div>
       </div>
             
<h2><a name= BASIC></a> Nitajiungaje?</h2> 
<p></p>
            <!--<p><a class="btn btn-secondary" name="#BASIC GIS" role="button">View details &raquo;</a></p>-->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h2><a name= ADVANCED></a> Fursa zingine</h2>
<p>  </p>
            <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h2><a name= TAILOR></a> Sitaki kuunga watu</h2>
<p> </p>
            <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h2><a name= GIS></a> Kujitoa</h2>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
   <!--<p><a href="#top" role="button">Sign in to register for a class </a></p>-->
   


   {% endblock %}
