
{% extends 'base.html' %}

    



        
{% block body %}
        
 <ul class="nav navbar-nav navbar-left"> 
      <div class="row">
            <main role="main">
                <h1>Almost there, one more thing!. <span>Make payment to join this class</span>.</h1>
                     
                         <h2></h2>
                         <br>
                          <p> <span>Basic GIS </span>= TSH 50,000 or $25 USD per each</p>
                          <p><span>Advanced GIS</span> = TSH 100,000 or $50 USD per each</p>

            </main>
      </div>
      </
 </ul>
                       
                       
<ul class="nav navbar-nav navbar-left"> 
      
      <div class="row">
            
            
            <main role="main">
                <h1>Payment options</h1>
                 
                   
                <br>      
                         
                         
                         <h2>1) <span>Mobile Wallet</span></h2>
                                               
                           <h3>Tigo Pesa +255653397942 or M Pesa +255753386304</h3>
                           
                           <h3> Account Name:Overblessing Msuya.</h3>
                           <p class="redtext">Note: After making your payments send the refference number and your name through whatsapp at +255653397942, then
                           check your email within two business days for further instructions.</p>
                          
                           <h2>2) <span>Bank Account</span></h2>
                           <p> CRDB BANK A/C 0152303138800- Account Name:Overblessing Msuya.</p>
                           
                             <h3>3) <span>paypal</span></h3>     
                    
            </main>
      </div>
 </ul>                  
        
          </ul>
         
          <form action = "https://paypal.com/cgi-bin/webscr" method= "post" target="_top"
                
       <input type="hidden" name="cmd" value="_s-xclick">
       <input type="hidden" name="hosted_button_id" value="5XSG8PPLJ9APJ">
       <input type="hidden" name="on0" value="Course">
         <select class="form-control" name="os0">
             <option value="Basic">Basic Class $25.00 USD</option>
             <option value="Advance">Advanced Class$50.00 USD</option>
         </select>
         <br>
         <input type="hidden" name="currency_code" value="USD">
         <input type='submit' class= 'btn-success '>
          </form>
          <br>
    </div>
   
</div>

      

{% endblock %}  
