<!DOCTYPE html>
<html lang="en">
    
{% extends 'base3.html' %}
{% load staticfiles %}

{%block head%}
     
    
    
    {%endblock%}



 {% block body %}

	<main class="main-wrapper">
		
		<!--<aside class="left-sidebar">-->
			<!--<div class="search-area"><form action=""><input type="text" placeholder="Type to search.. "></form></div>-->

			 <!--<div class="scroll-sidebar">-->
			 	<!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="top-ul">      
						<li><a href="" class="active">Countries</a>	
							
							
							
							
							<ul class="submenu">
                                                                
								<li><a href="" id="link1">Tanzania</a></li>			
								<li><a href="" id="link2">Kenya </a></li>
								<li><a href="" id="link3">Abroad</a></li>
                                                                <!--<li><a href="" id="link4">Abroad</a></li>-->
                                                               
							</ul>
						</li>
	
						
						
					</ul>
		</nav>
				</div>
		</aside>





	<div class="main-section">
		<div class="container">

                <div>
                                              
                                              <h1>Payment Options</h1>
                                                <div class="line-sep"></div>
                                                <hr>
                                                <p><span>Chagua nchi hapo juu kupata options za malipo</span></h2>
						
						<br><br>
                                                
                </div>
                        <div id="linkintro">
                              
                        </div>

			
	

			
                                                <div id="link1data" class="animated fadeIn">
                                                        <p><span>Tanzania</p></span>
                                                        <div class="line-sep"></div>
                        <br>
                                                        <div class="col-md-12"> 
                                                                <div class="row">    
                                                
                                                
                                                                        <div class="col-md-3"><p><span>M Pesa </p> <p>+255-757-962-205</p></div>
                                                                       
                                                                        <div class="col-md-3"><p><span>Tigo Pesa </p> +255-713-545-454</div>
                                                                       
                        
                        
                                                                </div>
                                                             
                                                 <p><div class="menuItem"><a class="level2"href= "" target="sites"> Mwenye Account: Grace A Msuya/Mpungu.</a></p></div> 
                                                        </div>
                                                <br>
                                                <p><span>NOTE: Baada ya kulipa, tuma namba ya uthibitisho kuelekea whatsapp namba +255-713-545-454</span>, baada ya kutuma, subiri masaa mawili kisha bonyeza   
                                   <a class=class="btn btn-follow" href="{% url 'home:chat'%}"> Kitabu changu</a> kuanza kusoma.</p>
                                                <hr>
                                       
				       
				       <br><br>
				        </div>

			



                                        <div id="link2data" class="animated fadeIn">
                                                        <h3>Kenya</h3>
                                                                <div class="line-sep"></div>
                                                <div class="col-md-12"> 
                                                        <div class="row">    
                                        
                                        
                                                                <div class="col-md-3"><h3>Safaricom </h3> <p>+255-757-962-205</p></div>
                                                             
                                                        </div>
                                                     
                                <p><div class="menuItem"><a class="level2"href= "" target="sites"> Jina la mwenye Account: Grace Msuya.</a></p></div> 
                                                </div>
                        <br>
                                                p><span>NOTE: Baada ya kulipa, tuma namba ya uthibitisho kuelekea whatsapp namba +255-713-545-454</span>, baada ya kutuma, subiri masaa mawili kisha bonyeza   
                                   <a class=class="btn btn-follow" href="{% url 'home:chat'%}"> Kitabu changu</a> kuanza kusoma.</p>
                        
                        <hr>
                                        </div>



                                        <div id="link3data" class="animated fadeIn">
                                                        <h3>
                                                                Abroad
                                                                <div class="line-sep"></div>
                                                        </h3>
                                 <div class="col-md-12"> 
                                                                                                <div class="row">    
                                                                                
                                                                                
                                                                                                       USA <div class="col-md-3"><h3>Vodacom</h3> <p>+255-757-962-205</p></div>
                                                                                                       EUROPE<div class="col-md-3"><h3>Tigo</h3> <p>+255713-54-5454</p></div>
                                                                                                        
                                                        
                                                                                                </div>
                                                                                             
                                                                                <p><div class="menuItem"><a class="level2"href= "" target="sites"> Accounts Holder: Grace Msuya.</a></p></div> 
                                                        </div>
                                 <br>
                                                <p><span>NOTE: Baada ya kulipa, tuma namba ya uthibitisho kuelekea whatsapp namba +255-713-545-454</span>, baada ya kutuma, subiri masaa mawili kisha bonyeza   
                                   <a class=class="btn btn-follow" href="{% url 'home:chat'%}"> Kitabu changu</a> kuanza kusoma.</p>
                                                        <hr>
                        


                        
                        
                        
                          
                        
                        
                </div>
                </div>
       
        
	


  {% endblock %}   