
{% extends 'base3.html' %}

{% load staticfiles %}

{%block head%}
     
    
    
    {%endblock%}



   {% block body %}
      
      <br><br><br>
                 
                     
                     <hr>
                    
         
                    
         <div class="text-center">
          <h2>Login</h2>
                       <p> <form method="post">
                             {% csrf_token%}
                             {{form.as_p}}
         
                             <button type="submit">Login</button>
                         </form></p>
                              <p><a href="{% url 'accounts:register'%}">Register New user</a></p>
                              <p><a href="{% url 'accounts:reset_password'%}">I Forgot my Password&raquo;</a></p>
                         
         </div>
         
                    <div class="text-center">
                     <!--<img src="{%static 'img/logpic.jpg'%}" class="img-responsive" alt=""'>-->
                              <img src="{%static 'img/logpic2.jpg'%}" class="img-responsive" alt=""'>
                     
            </div> 
            <hr>
            
    
  
   {% endblock %}
