<!DOCTYPE html>
<html lang="en">
    
{% extends 'base3.html' %}
{% load staticfiles %}

{%block head%}
     
    
    
    {%endblock%}



 {% block body %}

	<main class="main-wrapper">
		
		<aside class="side-panel">
			<!--<div class="search-area"><form action=""><input type="text" placeholder="Type to search.. "></form></div>-->
				
				<div class="scroll-able mt-10">
					<ul class="top-ul">
						<li><a href="" class="active">{{user}}</a>	
							<ul class="submenu">
								<li><a href="" id="link1">My network</a></li>
									
								<li><a href="" id="link2">My Account</a></li>
								<li><a href="" id="link3">Message from Office</a></li>
								<li><a href="" id="link4">Complaint</a></li>
								
                                                               
							</ul>
							
						</li>
	
						
                                               
						
						
						
					</ul>
				</div>
				
		</aside>
		





	<div class="main-section">
		<div class="container">


				<h1 class="topic-title">{{user.first_name}}</h1>

			<div id="linkintro">
                              <div class="text-center">
                              <h3>My Picture</h3>
                              {%if user.userprofile.image2%}
                                          <img src="{{ user.userprofile.image2.url }}" class="img-responsive" alt="">
                                             <!--<img src="{%static 'img/vutia.jpg'%}" '>	-->
                              {%endif%}
			    <!--<img src="{%static 'img/stack.jpg'%}" class="img-responsive" alt="">-->
                                <p>  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#regprocess">contact us
                              </div>						</button> </p>
                              
                         <h3>My First Name: </h3>
                         <P class="btn btn-link">{{user.first_name}}</P>
                            <p></p>
<!--                            <div class="text-center">-->
<!--			    <img src="{%static 'img/vutia.jpg'%}" class="img-responsive" alt=""'>	-->
<!--			    </div>-->
			    <h3>My Phone number.</h3>
			    <P class="btn btn-link">{{user.userprofile.phone}}</P>
			    
			    <h3>My Email Address.</h3>
			    <P class="btn btn-link">{{user.email}}</p>
                            
			    
					
				
                            
				
				 
	        
                <div class="modal fade bd-example-modal-lg" id="regprocess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Contact us</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                
                                        <div class="modal-body">
                                             
                                            <p> +255653397942  </p>
                                            <p>obgglobal@gmail.com</>
                                                
                                                    
                                                    
                                            </div>
              
                            </div>
                        </div>
                    </div>                           
                                
						
					
	</div>

			
	

			
			<div id="link1data" class="animated fadeIn">


			      
				<div class="section2 grey-scale">
					<div class="text-center">
					
					<h3 class="font-weight-bold">My network.</h3> 
					</div>
					</div>
					
				<hr>
				<div class="text-center">
                                <h3>Network by Drawing</h3>
                                {%if user.userprofile.image%}
                                          <img src="{{ user.userprofile.image.url }}" width="240">
                              {%endif%}
                                <br><br>		
				<h3>Network by Table</h3>
				
	       	
			    </div>
				
				
				 
<br>
                                

				
				
					
				

	</div>

			

			<div id="link2data" class="animated fadeIn">
					<div class="section2 grey-scale">
					<div class="text-center">
					<h2>Account</h2>
					</div>
					</div>
					
				<hr>
					

					<hr>
			</div>



			<div id="link3data" class="animated fadeIn">
					
					<div class="section2 grey-scale">
					<div class="text-center">
					<h2>From office</h2>
					</div>
					</div>
					
				<hr>

					
			</div>
			
			
			<div id="link4data" class="animated fadeIn">
					
					
					<div class="section2 grey-scale">
					<div class="text-center">
					<h2>Submit your Complaint</h2>
					</div>
					</div>
					
				<hr>

					
					<hr>
			</div>





		</div>
	
</main>
     
     
      {% endblock %}   
        
       
