


{% extends 'base3.html' %}

{% load staticfiles %}

{%block head%}
     
    
    
    {%endblock%}



   {% block body %}
        <br><br><br>
                 
        <div class="text-center">
            <h1>Password Reset</h1>
           <p>
               Forgotten your password? Enter your email address below, and we'll email
               instructions for settinga new one.
           </p>

            <h2>

                <form method="post">
                    {% csrf_token%}
                    {{form.as_p}}

                    <button type="submit">Resert Password</button>
                </form>
            </h2>
            

        </div>
        <div class="text-center">
                     <!--<img src="{%static 'img/logpic.jpg'%}" class="img-responsive" alt=""'>-->
                              <img src="{%static 'img/logpic2.jpg'%}" class="img-responsive" alt=""'>
                     
            </div> 
            <hr>

   {% endblock %}
