



<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}

<html>


    <head>

        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>Books Online</title>

	
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Niramit" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'accounts/css/materialdesignicons.min.css' %}">
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.css"> -->


	
	  
          <link rel="stylesheet" href="{% static 'accounts/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'accounts/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'accounts/css/main.css' %}">

            <!--<link rel="stylesheet" href="{% static 'accounts/css/main3.css' %}">-->
	
	

        {% block head %}

        {% endblock %}

    </head>


    <body oncopy="return false" onpaste="return false" oncut="return false">
       	
	

	

	
		
 
                    {% block body %}
                        
                    {% endblock %}
         

    
   
              









 

	
        
 <script src="{% static "accounts/js/jquery.min.js" %}" type="text/javascript"></script>
        <script src="{% static "accounts/js/bootstrap.min.js" %}" type="text/javascript"></script>
        <script src="{% static "accounts/js/scrollreveal.min.js" %}" type="text/javascript"></script>
        <script src="{% static "accounts/js/app2.js" %}" type="text/javascript"></script>

        	

    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static "accounts/js/popper.min.js" %}" ></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static "accounts/js/jquery.slimscroll.js" %}"></script>
    <!--Wave Effects -->
    <script src="{% static "accounts/js/waves.js" %}"></script>
    <!--stickey kit -->
    <script src="{% static "accounts/js/sticky-kit.min.js" %}"></script>
    <script src="{% static "accounts/js/jquery.sparkline.min.js" %}"></script>

	<!-- <script src="js/app.js"></script> -->
	<script src="{% static "accounts/js/sidebarmenu.js" %}"></script>
	<script src="{% static "accounts/js/custom.js" %}"></script>

	<script>
			function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
	</script>




</body>



</html>
